name: Deploy retype to all-inkl

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Update /retype on server
        uses: appleboy/ssh-action@master
        with:
          host: w01c4ca9.kasserver.com
          username: ssh-w02125c1
          key: ${{ secrets.SSH_KEY }}
          script: |
            set -e
            cd /www/htdocs/w02125c1


            git fetch --all
            git worktree prune || true

            if [ ! -d "retype/.git" ]; then
              rm -rf retype
              git worktree add -f retype retype
            fi

            cd retype
            git pull origin retype
